body
{
}
#game
{
    margin: 10px;
}
.grid-container
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-item
{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    cursor: pointer;
}
h3
{
    margin-top: 20px;
}